@layout MainLayout

<div class="error-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="error-content">
                <img src="assets/images/404-error.jpg" alt="تصویر">
                <h3>اوه! صفحه یافت نشد</h3>
                <p>صفحه ای که به دنبال آن هستید ممکن است در صورت تغییر نام آن حذف شده باشد یا به طور موقت در دسترس نباشد.</p>
                <NavLink href="/" class="default-btn btn-bg-two">
                    بازگشت به صفحه اصلی
                </NavLink>
            </div>
        </div>
    </div>
</div>


@code {

}
