  <footer class="footer-area footer-bg">
            <div class="container">
                <div class="footer-top pt-100 pb-70">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="index.html">
                                        <img src="assets/images/logos/footer-logo.png" alt="تصاویر" />
                                    </a>
                                </div>
                                <p>
                                    مایکروویو باردار یا نویسنده موز در فضای باز. مراقبت از یاس ، حراج لورم. هر نوع نوشیدنی ، هر نوشیدنی لورم آین.
                                </p>
                                <div class="footer-call-content">
                                    <h3>با پشتیبانی ما صحبت کنید</h3>
                                    <span><a href="tel:+1002-123-4567">002-123-4567</a></span>
                                    <i class="bx bx-headphone"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <div class="footer-widget pl-2">
                                <h3>خدمات</h3>
                                <ul class="footer-list">
                                    <li>
                                        <a href="service-details.html" target="_blank">
                                            <i class="bx bx-chevron-left"></i>
                                            مشاور فناوری اطلاعات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service-details.html" target="_blank">
                                            <i class="bx bx-chevron-left"></i>
                                            راه حل تجاری
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service-details.html" target="_blank">
                                            <i class="bx bx-chevron-left"></i>
                                            خدمات دیجیتال
                                        </a>
                                    </li>
                                    <li>
                                        <a href="compare.html" target="_blank">
                                            <i class="bx bx-chevron-left"></i>
                                            اصلاحات تجاری
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service-details.html" target="_blank">
                                            <i class="bx bx-chevron-left"></i>
                                            توسعه وب
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service-details.html" target="_blank">
                                            <i class="bx bx-chevron-left"></i>
                                            پردازش ابری
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service-details.html" target="_blank">
                                            <i class="bx bx-chevron-left"></i>
                                            تحلیل داده ها
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-widget pl-5">
                                <h3>وبلاگ ما</h3>
                                <ul class="footer-blog">
                                    <li>
                                        <a href="blog-details.html">
                                            <img src="assets/images/blog/blog-img-footer.jpg" alt="تصاویر" />
                                        </a>
                                        <div class="content">
                                            <h3><a href="blog-details.html">راه حل ایده محصول برای نسل جدید</a></h3>
                                            <span>04 خرداد 1400</span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">
                                            <img src="assets/images/blog/blog-img-footer2.jpg" alt="تصاویر" />
                                        </a>
                                        <div class="content">
                                            <h3><a href="blog-details.html">اختراع دستگاه جدید برای سیستم عامل دیجیتال</a></h3>
                                            <span>07 خرداد 1400</span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">
                                            <img src="assets/images/blog/blog-img-footer3.jpg" alt="تصاویر" />
                                        </a>
                                        <div class="content">
                                            <h3><a href="blog-details.html">استراتژی تجارت هدف او را محقق سازد</a></h3>
                                            <span>10 خرداد 1400</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-widget">
                                <h3>خبرنامه</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                                <div class="newsletter-area">
                                    <form class="newsletter-form" data-toggle="validator" method="POST">
                                        <input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید" name="EMAIL" required="" autocomplete="off" />
                                        <button class="subscribe-btn" type="submit">
                                            <i class="bx bx-paper-plane"></i>
                                        </button>
                                        <div id="validator-newsletter" class="form-result"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copy-right-area">
                    <div class="copy-right-text">
                        <p>
                            ©کپی رایت - کلیه حقوق محفوظ است
                        </p>
                    </div>
                </div>
            </div>
        </footer>
@code {

}
